<header class="masthead">
<nav class="language-nav"> 
<ul>
<a> CSS </a>
<a> HTML </a> 
<a> Javascript </a>
<a> Ruby </a>
</ul>
</nav>

<img class="logo" src="<%= image_url('AA_Times_Logo.png') %>" alt="AA times logo">
<nav class="masthead-links">

<li> <i>Tuesday, October 18, 2016</i> </li>
<li> <button>Today’s Paper</button> </li>
<li> <button>Video</button> </li>
<li> 77°F </li>
 <i>AAO <strong>+100%</strong></i>

</nav>
</header>
